<h2>Servers</h2>

<!-- 
<input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"> <!-- $event is the data from the (click) event -->

<!-- This is an example of two way binding.  -->
<input
type="text"
class="form-control"
[(ngModel)]="serverName"
>

<p>{{serverName}}</p>

<!-- This is an eg of property binding, where [disabled] is property of button bound to allowNewServer 

    Property binding can also be used instead of string interpolation, as with innerText
-->
<button
    [disabled]="!allowNewServer"
    class="btn btn-primary"
    (click)="onCreateServer()"> <!-- Event binding example -->
    Add Server
</button>
<button
*ngIf="serverCreated"
    class="btn btn-primary"
    (click)="deleteServer()"> <!-- Event binding example -->
    Delete Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- noServer is an ngTemplate embedded in the html -->
<p *ngIf="serverCreated; else noServer"> Server was created. Name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No Server was created.}</p>
</ng-template>
 
<app-server *ngFor="let server of servers"></app-server> <!-- *ngFor and *ngIf are example of structural directives -->
